# ignore all .a files
*.a
# but do track lib.a, even though you're ignoring .a files above
!lib.a
# only ignore the TODO file in thed current directory, not subdir/TODO
/TODO
# ignore all files in any directory named build 
build/
# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt
# ignore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf
# ignore all .out files
/*.out
# ignore all .in files
/*.in
# ignore cmake-build-debug
cmake-build-debug/
#ignore CMakeLists.txt
CMakeLists.txt